h1 {
    color: indigo;
}

@font-face {
    font-family: fuenteTest;
    src: url("../assets/fonts/DeliciousHandrawn-Regular.ttf");
}

* {
    font-family: fuenteTest;
}

.myName{
    font-size:50px;
}

.backgroundNotebook{
    background: linear-gradient(-45deg, #ffffff, #d4d4d4, #23a6d5, #d2faf1);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#byebyecube {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 40%;
    z-index: -1;
    background-image: linear-gradient(30deg, #aaa 30%, rgba(170,170,170,0) 30.1%), linear-gradient(-30deg, #aaa 30%, rgba(170,170,170,0) 30.1%);
    transform-style: preserve-3d;
  }
  #byebyecube:before,
  #byebyecube:after {
    display: block;
    content: '';
    position: absolute;
  }
  #byebyecube:before {
    width: 200px;
    height: 280px;
    left: 50px;
    top: -8px;
    background-repeat: no-repeat;
    background-image: linear-gradient(30deg, transparent 26%, #ccc 26.3%, #ccc 74%, transparent 74.3%), linear-gradient(150deg, transparent 26%, #999 26.3%, #999 74%, transparent 74.3%), linear-gradient(150deg, transparent 26%, #eee 26.3%, #eee 73%, transparent 73%), linear-gradient(30deg, transparent 27%, #eee 27%, #eee 74%, transparent 74.3%), radial-gradient(circle at center, #eee 20%, transparent 20%);
    background-size: 50% 60%;
    background-position: 0 100%, 100% 100%, 0 48.5%, 100% 48.5%, 50% 60%;
    -webkit-animation: cube-drop 6000ms infinite alternate linear;
            animation: cube-drop 6000ms infinite alternate linear;
    z-index: -1;
  }
  #byebyecube:after {
    width: 113px;
    height: 100px;
    left: 92px;
    top: 164px;
    z-index: 0;
    -webkit-animation: cube-shadow 6000ms infinite alternate linear;
            animation: cube-shadow 6000ms infinite alternate linear;
  }

  @-webkit-keyframes cube-drop {
    20% {
      transform: translateY(0) translateZ(-1px);
    }
    80%, 100% {
      transform: translateY(153px) translateZ(-1px);
    }
  }
  @keyframes cube-drop {
    20% {
      transform: translateY(0) translateZ(-1px);
    }
    80%, 100% {
      transform: translateY(153px) translateZ(-1px);
    }
  }
  @-webkit-keyframes cube-shadow {
    0%, 20% {
      transform: translateY(0) rotate(-30deg) skew(30deg);
      box-shadow: -50px 45px 10px -10px rgba(0,0,0,0.3);
    }
    37% {
      box-shadow: -2px 2px 2px rgba(0,0,0,0.5);
    }
    37%, 100% {
      transform: translateY(42px) rotate(-30deg) skew(30deg);
    }
    39%, 100% {
      box-shadow: -2px 2px 1px rgba(0,0,0,0);
    }
  }
  @keyframes cube-shadow {
    0%, 20% {
      transform: translateY(0) rotate(-30deg) skew(30deg);
      box-shadow: -50px 45px 10px -10px rgba(0,0,0,0.3);
    }
    37% {
      box-shadow: -2px 2px 2px rgba(0,0,0,0.5);
    }
    37%, 100% {
      transform: translateY(42px) rotate(-30deg) skew(30deg);
    }
    39%, 100% {
      box-shadow: -2px 2px 1px rgba(0,0,0,0);
    }
  }
  
  #tituloTask{
    margin-top: 50px;
    width: 500px;
    font-size: 50px;
    transition: ease;
  }

  .cls-1{
    fill:#000000;
    stroke: #ffffff;
    stroke-dashoffset: 0;
    stroke-dasharray: 1000;

    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation: logoPintar 30s ease-in-out
    }

    @keyframes logoPintar {
        0% {
          stroke-dashoffset: 1000;
        }
        50% {
          stroke-dashoffset: 0;
          stroke: #ffffff;
          fill-opacity: 1;
        }
        100% {
          stroke-dashoffset: 0;
        }
      }
      
  .cls-2{
    fill: black;
    stroke: #ffffff;
    stroke-dashoffset: 0;
    stroke-dasharray: 1000;

    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation: logoPintar2 30s ease-in-out
  }

  @keyframes logoPintar2 {
    0% {
      stroke-dashoffset: 1000;
    }
    50% {
      stroke-dashoffset: 0;
      stroke: #ffffff;
      fill-opacity: 1;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  